.btn-random-notion {
  height: 24px;
  user-select: none;
  transition: background 120ms ease-in 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 3px;
  color: white;
  line-height: 1.2;
  background: rgb(46, 170, 220);
  margin-left: 10px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: 500;
}

.btn-random-notion, .btn-random-notion:focus {
  outline: 0 !important;
}

.btn-random-notion:hover {
  background: rgb(6, 156, 205);
}
